body {
    margin: 0px;
    padding: 0px;
    background-image: url("./back.jpg");
    /* 图片自适应大小 */
    background-size: contain;
    /* 不重复 */
    background-repeat: no-repeat;
}

.bac {
    float: left;
}